click==8.1.2
dnnlib==0.0.1
ffmpeg==1.4
ftfy==6.1.1
ipython==8.2.0
lmdb==1.3.0
matplotlib==3.5.1
numpy==1.22.3
op==0
Pillow==9.1.0
PyQt5==5.15.6
pytorch_lightning==1.6.0
PyYAML==6.0
regex==2022.3.15
timm==0.5.4
torch==1.11.0
torchvision==0.12.0
tqdm==4.64.0
